{% extends 'base.html' %}
{% block title %}{{ title }} | Learning management system{% endblock title %}
{% load static %}

{% block content %}

<style>
    .color-indicator {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 2px;
    }

    .bg-purple {
        background-color: #6f42c1;
    }

    .card-header-ne {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-header-ne .title {
        vertical-align: middle;
    }
    .limit-lines {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 12em;   /* 8 lines of text = 8 * line-height */
    max-height: 12em;   /* Ensure it does not exceed the height for 8 lines */
    overflow-wrap: break-word;
    }
    .limit-lines-title {
    display: -webkit-box;
    webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 6em;   /* 8 lines of text = 8 * line-height */
    max-height: 6em;   /* Ensure it does not exceed the height for 8 lines */
    overflow-wrap: break-word;
    }
</style>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

{% if request.user.is_superuser %}
<div class="manage-wrap">
    <a class="btn btn-primary" href="{% url 'add_item' %}"><i class="fas fa-plus"></i> Add New Post</a>
</div>
{% endif %}

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger">
    <i class="fas fa-exclamation-circle"></i>{{ message }}
</div>
{% else %}
<div class="alert alert-success">
    <i class="fas fa-check-circle"></i>{{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}

<div>
    <div class="title-1">News &amp; Events</div>
</div>

<div class="col-md-2 ms-auto d-flex">
    <div class="me-3">
        <span class="color-indicator bg-primary"></span> News
    </div>
    <div>
        <span class="color-indicator bg-purple"></span> Events
    </div>
</div>

<div class="container-fluid">
    {% if items %}
    <div class="row">
        {% for item in items %}
        <div class="col-md-4 mb-4">
            <div class="bg-white border rounded">
                <div class="card-header-ne rounded {% if item.posted_as == 'News' %}news{% else %}events{% endif %} p-2">
                    <span class="p-0 limit-lines-title">
                        {{ item.title|title }}
                    </span>
                    {% if request.user.is_superuser %}
                    <div class="dropstart">
                        <button class="btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v text-white"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'edit_post' pk=item.id %}"><i
                                    class="fas fa-pencil-alt"></i> Edit</a>
                            <a class="dropdown-item" href="{% url 'delete_post' pk=item.id %}"><i
                                    class="fas fa-trash-alt"></i> Delete</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!--{{ item.summary }} -->
                <!-- <div class="p-2 limit-lines">{{ item.summary|slice:":200" }}{% if item.summary|length > 200 %} (...){% endif %}</div> -->
                <div class="p-2">{{ item.summary|slice:":200" }}{% if item.summary|length > 200 %} (...){% endif %}</div>

                <div class="date-wrapper">
                    
                    <!-- See more button -->
                    <div class="d-flex justify-content-between align-items-center" style="height: 100%;">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-calendar mr-2"></i>
                            {{ item.updated_date|timesince }} ago 
                        </div>
                        <a class="btn btn-light" href="{% url 'view_post' pk=item.id %}"><i class="fas fa-plus"></i> See More</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <h4 class="text-center mt-5 py-5 text-muted">
        <i class="fa-regular fa-folder-open me-2"></i> School news and events will appear here.
    </h4>

    {% endif %}

</div>

{% endblock content %}
